
<header id="page-header">
    <div class="wrapper">
        <h1><a href="/" id="logoName"><%= logoName %></a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                </ul>
            </nav>
</header>